.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #333;
    color: white;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
  }

  .nav-links a :hover{
    color:orangered;
    text-decoration: underline;
 }